
.btn-prodview {
    display: block;
    margin: auto;
    width:50%;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.btn-outline-red {
    border-color: lightcoral;
    color: lightcoral;
}.btn-outline-red:hover {
    border-color: rgb(218, 117, 117) !important;
    color:rgb(218, 90, 90);
}
.sideBarText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}