

.subheading-profile{
    font-family:fantasy;
    text-align:center;
}

.btn-outline-CornflowerBlue{
    color: CornflowerBlue;
    border-color: CornflowerBlue;
}.btn-outline-CornflowerBlue:hover{
    background-color: CornflowerBlue;
    color: white;
}