

.google-btn {
    display: flex;
    border: 1px solid rgb(8, 87, 177);
    align-items: center;
    padding: 5px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
} .google-btn:hover {
    border-color: rgb(6, 70, 143);
}