

.text-srch {
    font-style: italic;
    font-family: monospace;
    margin-bottom: 20px;
}

.cards-container { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.product-card {
    width: 180px;
    height: auto;
    border: 1px solid grey;
    padding: 5px;
    transition: box-shadow 0.5s;
}.product-card:hover {
    box-shadow: 3px 4px 5px grey,-3px -1px 5px grey;
}
.product-card>img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}.product-card>img:hover {
    cursor: pointer;
}
.product-card>p {
    margin-top: 10px;
    font-family: Helvetica;
}