

.text-srch {
    font-style: italic;
    font-family: monospace;
    margin-bottom: 20px;
}

.cards-container { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}
.product-card>img {
    display: inline;
    width: 160px;
    height: 160px;
}