.cart-img {
    display: inline-block;
    width:100px;
    height:100px;
    transition: all 0.5s;
    right:0;
}
.cart-img:hover {
    transform: scale(1.2);
}
.cart-item-hover {
    cursor:"pointer";
}.cart-item-hover:hover {
    background-color: aliceblue;
}