

.productTypeCard {
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.productTypeCard:hover {
    box-shadow: 1px 2px 3px rgb(86, 190, 238), -1px -2px 3px rgb(140, 241, 226);
    transform: translate(1px,1px);
}

.cat-title {
    font-size: 3em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: 50; */
}